VITE_SUPABASE_URL=https://adnwycgwwzkslxvspynd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkbnd5Y2d3d3prc2x4dnNweW5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4MDM0NzgsImV4cCI6MjEwMDM3OTQ3OH0.58snLjxcUNo8-SQdj-PBX2OLy9qfTWWswkQoxrl8A7I